.postHeaderBody {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem; }

.postHeaderImg {
  border-radius: 50%;
  margin-right: 1rem; }

.postHeaderText {
  display: flex;
  flex-direction: column;
  align-content: flex-start; }
  .postHeaderText h2 {
    margin: 0; }
  .postHeaderText p {
    margin: 0;
    padding: 5px; }

.postBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 6rem; }

.postImg {
  margin-bottom: 2rem; }

.postTitle {
  text-align: center;
  border-bottom: solid 1px black; }

.postHero {
  box-shadow: -1px 6px 11px -1px rgba(0, 0, 0, 0.75); }

.postText {
  margin-top: 2rem; }
