.postHeaderBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding-left: 1rem;
  width: 100%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  animation-timing-function: ease-in-out;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.postHeaderText {
  display: flex;
  align-items: center;
  color: white;
  padding-left: 1rem;
}

.postHeaderLinks {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.postHeaderLinks a {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.6rem;
}


.postBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 6rem;
  margin-top: 6rem;
}

.postImg {
  border: solid 1px lightgray;
  margin-bottom: 2rem;
  z-index: -99;
}

.postTitle {
  text-align: center;
  border-bottom: solid 1px black; }

.postHero {
  box-shadow: -1px 6px 11px -1px rgba(0, 0, 0, 0.75); }

.postText {
  margin-top: 2rem; }
