.headerBody {
    background-color: black;
}

.headerContainer {
    background-color: white;
    padding: 2rem 3rem;
}
.text {
    align-items: flex-start;
    margin-right: 3rem;
}

.name {
    margin-bottom: 0;
}

.icons {
    display: flex;

}

.headerImgCont {
    padding-top: 1rem;
}

.headerImage {
    border: solid 0.1rem;
}
