.headerBody {
    display: flex;
    justify-content: center;
    background-color: black;
    box-shadow: -1px 6px 11px -1px rgba(0,0,0,0.75);
}

.headerContainer {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 2rem 3rem;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 3rem;
}

.name {
    margin-bottom: 0;
}

.icons {
    display: flex;

}

.headerImgCont {
    padding-top: 1rem;
}

.headerImage {
    border: solid 0.1rem;
}
